.message {
  display: flex;
  align-items: flex-start;
  padding: 16px;
  box-sizing: border-box;
}

.avatar {
  width: 55px;
  height: 55px;
  min-width: 47px;
  min-height: 47px;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
}

.user-item{
 display: flex;
}

.avatar img {
  object-fit: contain;
}

.content {
  margin-left: 16px;
  box-sizing: border-box;
}
