button {
            margin: 0.5rem;
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
            background-color: #ddd;
            color: #000;
            border: 1px solid #444;
            border-radius: 5px; 
        }


.login-container {
    position: relative;
    top: -150px;
}

body {
    height: 100%;
    font-family: sans-serif;
    background-color: #f5f5f5;
    color: #444444;
    box-sizing: border-box;
}

h5 {
    color: #333333;
    font-size: 16px;
}
